<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method = "PATCH" th:action="@{/templates/adminRole/books/{id}(id = ${book.getId()})}" th:object = "${book}" >
    <label for="name">Введи название</label>
    <input type="text" th:field ="*{name}" id = "name"/>
    <div th:if = "${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>
    <label for="author">Введи автора</label>
    <input type="text" th:field ="*{author}" id = "author"/>
    <div th:if = "${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    <br>
    <label for="year">Введи год издания</label>
    <input type="text" th:field ="*{year}" id = "year"/>
    <div th:if = "${#fields.hasErrors('year')}" th:errors="*{year}"></div>
    <br>
    <input type="submit" value="Update"/>
</form>

</body>
</html>